{% extends 'dashboard/base.html' %}

{% block content %}


<div class="flex flex-col md:flex-row justify-center  items-center p-5  gap-2 md:gap-96 bg-gray-400 ">
  <a href="{% url "dashboard" %}">
    <h1 class="text-2xl font-bold mr-10">
        Dashboard
    </h1>

    </a>

    
<a href="{% url "home" %}">
    <h1 class="text-xl">
        Home
    </h1>
    </a>

</div>



<div class="grid grid-cols-1 md:grid-cols-4 gap-4 m-3">
   <a href="{% url 'dashboard' %}?type=total_events">
    <div class="bg-blue-500 text-white p-4 rounded shadow">
        <h2>Total Events</h2>
        <p class="text-2xl">{{ total_events }}</p>
    </div>
    </a>


<a href="{% url 'dashboard' %}?type=total_participants">
    <div class="bg-green-500 text-white p-4 rounded shadow">
        <h2>Total Participants</h2>
        <p class="text-2xl">{{ total_participants }}</p>
    </div>
    </a>


<a href="{% url 'dashboard' %}?type=upcoming">
    <div class="bg-yellow-500 text-white p-4 rounded shadow">
        <h2>Upcoming Events</h2>
        <p class="text-2xl">{{ upcoming }}</p>
    </div>
    </a>


<a href="{% url 'dashboard' %}?type=past">
    <div class="bg-red-500 text-white p-4 rounded shadow">
        <h2>Past Events</h2>
        <p class="text-2xl">{{ past }}</p>
    </div>
    </a>

</div>



{% comment %} for messaage show {% endcomment %}
<div>
            {% if messages %}

            {% for message  in messages %}
            <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}">{{message}}</div>
            
            {% endfor %}
            
            {% endif %}
        </div>



{% comment %} list of task {% endcomment %}


{% if mode == 'events' or not mode %}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 m-3">

    {% for event in events %}

    <div class="flex gap-5 p-4 rounded-lg shadow border bg-red-300">

        <div>
            <h2 class="text-xl font-bold text-blue-600 mb-2">
                {{ event.name }}
            </h2>

            <p class="text-gray-600 mb-2">
                {{ event.description }}
            </p>

            <p class="text-sm text-gray-500">
               Location: {{ event.location }}
            </p>

            <p class="text-sm text-gray-500">
                {{ event.date}}
            </p>
        </div>

        <a href="{% url 'update_event' event.id %}">
            <button class="px-4 py-1 bg-green-500">Edit</button>
        </a>

        <form action="{% url 'delete_event' event.id %}" method="POST">
            {% csrf_token %}
            <button class="px-4 py-1 bg-red-500">Delete</button>
        </form>

    </div>

    {% endfor %}

</div>

{% endif %}


{% if mode == 'participants' %}

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 m-3">

    {% for par in participants %}

    <div class="flex gap-5 p-4 rounded-lg shadow border bg-green-300">

        <div>
            <h2 class="text-xl font-bold text-blue-600 mb-2">
                {{ par.name }}
            </h2>

            <p class="text-gray-600 mb-2">
                {{ par.email }}
            </p>
        </div>

        <a href="{% url 'Update_Participents_form' par.id %}">
            <button class="px-4 py-1 bg-green-600">Edit</button>
        </a>

        <form action="{% url 'delete_participents' par.id %}" method="POST">
            {% csrf_token %}
            <button class="px-4 py-1 bg-red-500">Delete</button>
        </form>

    </div>

    {% endfor %}

</div>

{% endif %}




<!-- 🔥 TODAY EVENTS -->
 <a href="{% url 'dashboard' %}?type=today">
<h2 class="text-xl font-bold mt-6 text-blue-400 m-3">Today's Events</h2>
</a>



    {% for event in today_events%}
    <div class="mt-4 m-3">
        <div class="bg-orange-300 p-4 shadow mb-2 rounded">
            <h3 class="font-bold">{{ event.name }}</h3>
            <p class="text-gray-600 mb-2">
                {{ event.description }}
            </p>
            <p class="text-sm text-gray-500">
                Location:{{ event.location }}
            </p>

            <p class="text-sm text-gray-500">
                {{ event.date}}
            </p>
        </div>
    {% empty %}
        <p class="text-red-500">No events today</p>
    {% endfor %}

</div>


 

{% endblock content %}
